@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define colors for both light and dark modes */
:root {
  --primaryPurple: #646ff0;
  --black-1: #646681;
  --black-2: #585858;
  --bg-1: #f8f8ff;
  --bg-2: #ecedf6;
  --bg-3: #cccdde;
  --gray-1: #eee;
  --gray-2: #dedfe1;
  --black: black;
  --white: white;

  /* Light mode colors */
  --light-bg: var(--bg-1);
  --light-text: #333;

  /* Dark mode colors */
  --dark-bg: #222;
  --dark-text: #ddd;

  /* Current theme colors (initially set to light mode) */
  --current-bg: var(--light-bg);
  --current-text: var(--light-text);
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--current-bg); /* Use current background color */
  color: var(--current-text); /* Use current text color */
}

* {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
}

/* Apply dark mode styles to elements when the 'dark-mode' class is added to the <html> element */
.dark-mode {
  --current-bg: var(--dark-bg);
  --current-text: var(--dark-text);
}
